@model Workout.Models.WorkoutInfo

@{
    ViewData["Title"] = "EditWorkout";
    int id = ViewBag.id;
}

<h1>Edit @Model.TypeOfWorkout</h1>
@if (ViewBag.error != null)
{
    <div class="alert-danger">@ViewBag.error</div>
}

<h4>WorkoutInfo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditWorkout">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TypeOfWorkout" class="control-label"></label>
                <input asp-for="TypeOfWorkout" class="form-control" />
                <span asp-validation-for="TypeOfWorkout" class="text-danger"></span>
            </div>
            <input type="hidden" name="id" value="@id"/>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Workout" asp-route-id="@id">Back to List</a>
</div>

